# Environment variables
.env
.env.local
.env.*.local

# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage

# Next.js
/.next/
/out/
/build

# Production
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# OS files
.DS_Store
Thumbs.db
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

/1 lab
/3 lab
archive/
*.zip
*.tar.gz

.vercel